<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snolf.third.classmates.mapper.ClassmatesUserMapper">
	<resultMap id="BaseResultMap" type="com.snolf.third.classmates.model.ClassmatesUser">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="inner_code" property="innerCode" jdbcType="BIGINT"/>
		<result column="login_name" property="loginName" jdbcType="VARCHAR"/>
		<result column="password" property="password" jdbcType="VARCHAR"/>
		<result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP"/>
		<result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR"/>
		<result column="login_time" property="loginTime" jdbcType="TIMESTAMP"/>
		<result column="login_ip" property="loginIp" jdbcType="VARCHAR"/>
		<result column="user_status" property="userStatus" jdbcType="TINYINT"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="create_user" property="createUser" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
		<result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
		<result column="is_del" property="isDel" jdbcType="TINYINT"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
	</resultMap>
	<sql id="Base_Column_List">
    id, inner_code, login_name, password, nick_name, phone, last_login_time, last_login_ip, 
    login_time, login_ip, user_status, create_time, create_user, update_time, update_user, 
    is_del, remark
  </sql>
	<select id="query" resultMap="BaseResultMap" parameterType="com.snolf.third.classmates.model.ClassmatesUser">
		select
		<include refid="Base_Column_List"/>
		from classmates_user
		where is_del = 0
		<if test="innerCode != null and innerCode != ''">
			and inner_code = #{innerCode,jdbcType=BIGINT}
		</if>
		<if test="loginName != null and loginName != ''">
			and login_name = #{loginName,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="login" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List"/>
		FROM classmates_user WHERE is_del = 0 and user_status=0 and login_name=#{0} AND password=#{1}
	</select>
	<select id="queryList" resultMap="BaseResultMap" parameterType="com.snolf.third.classmates.model.ClassmatesUser">
		select
		<include refid="Base_Column_List"/>
		from classmates_user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByInnerCode" parameterType="java.lang.Long">
    delete from classmates_user
    where inner_code = #{innerCode,jdbcType=INTEGER}
  </delete>
	<insert id="insert" parameterType="com.snolf.third.classmates.model.ClassmatesUser">
		insert into classmates_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="innerCode != null">
				inner_code,
			</if>
			<if test="loginName != null">
				login_name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="nickName != null">
				nick_name,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="lastLoginTime != null">
				last_login_time,
			</if>
			<if test="lastLoginIp != null">
				last_login_ip,
			</if>
			<if test="loginTime != null">
				login_time,
			</if>
			<if test="loginIp != null">
				login_ip,
			</if>
			<if test="userStatus != null">
				user_status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUser != null">
				update_user,
			</if>
			<if test="isDel != null">
				is_del,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="innerCode != null">
				#{innerCode,jdbcType=BIGINT},
			</if>
			<if test="loginName != null">
				#{loginName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="nickName != null">
				#{nickName,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginTime != null">
				#{lastLoginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastLoginIp != null">
				#{lastLoginIp,jdbcType=VARCHAR},
			</if>
			<if test="loginTime != null">
				#{loginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="loginIp != null">
				#{loginIp,jdbcType=VARCHAR},
			</if>
			<if test="userStatus != null">
				#{userStatus,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="isDel != null">
				#{isDel,jdbcType=TINYINT},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.snolf.third.classmates.model.ClassmatesUser">
		update classmates_user
		<set>
			<if test="innerCode != null">
				inner_code = #{innerCode,jdbcType=BIGINT},
			</if>
			<if test="loginName != null">
				login_name = #{loginName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="nickName != null">
				nick_name = #{nickName,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginTime != null">
				last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastLoginIp != null">
				last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
			</if>
			<if test="loginTime != null">
				login_time = #{loginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="loginIp != null">
				login_ip = #{loginIp,jdbcType=VARCHAR},
			</if>
			<if test="userStatus != null">
				user_status = #{userStatus,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="isDel != null">
				is_del = #{isDel,jdbcType=TINYINT},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>