<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snolf.system.mapper.SysProjectMapper" >
  <resultMap id="BaseResultMap" type="com.snolf.system.model.SysProject" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pro_key" property="proKey" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="del_time" property="delTime" jdbcType="TIMESTAMP" />
    <result column="del_user" property="delUser" jdbcType="VARCHAR" />
    <result column="is_del" property="del" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, pro_key, url, status, create_time, create_user, update_time, update_user,
    del_time, del_user, is_del, remark
  </sql>

  <select id="query" resultMap="BaseResultMap" parameterType="com.snolf.system.model.SysProject" >
    select 
    <include refid="Base_Column_List" />
    from sys_project
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="proKey != null">
        and pro_key = #{proKey,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from sys_project
    <where>
      <if test="startCreateTime != null and startCreateTime != ''">
        and create_time&gt;= concat(#{startCreateTime,jdbcType=VARCHAR}, '00:00:00')
      </if>
      <if test="endCreateTime != null and endCreateTime != ''">
        and create_time&lt;= concat(#{endCreateTime,jdbcType=VARCHAR}, '23:59:59')
      </if>
      <if test="name != null and name != ''">
        and name like concat('%', #{name,jdbcType=VARCHAR}, '%')
      </if>
      <if test="status != null">
        and status = #{status, jdbcType=TINYINT}
      </if>
    </where>
    ORDER BY create_time DESC
  </select>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from sys_project
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="batchDelete" parameterType="java.lang.String" >
    delete from sys_project where id  in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>

  <insert id="insert" parameterType="com.snolf.system.model.SysProject" >
    insert into sys_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="proKey != null" >
        pro_key,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="proKey != null" >
        #{proKey,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.snolf.system.model.SysProject" >
    update sys_project
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="proKey != null" >
        pro_key = #{proKey,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="delTime != null" >
        del_time = #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delUser != null" >
        del_user = #{delUser,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        is_del = #{del,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>