<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snolf.manager.cc.mapper.CcGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.snolf.manager.cc.model.CcGoods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_num" property="goodsNum" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
    <result column="shop_price" property="shopPrice" jdbcType="DECIMAL" />
    <result column="warn_stock" property="warnStock" jdbcType="INTEGER" />
    <result column="goods_stock" property="goodsStock" jdbcType="INTEGER" />
    <result column="goods_unit" property="goodsUnit" jdbcType="CHAR" />
    <result column="sale_status" property="saleStatus" jdbcType="TINYINT" />
    <result column="category_ids" property="categoryIds" jdbcType="VARCHAR" />
    <result column="sale_num" property="saleNum" jdbcType="INTEGER" />
    <result column="sale_time" property="saleTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="del_time" property="delTime" jdbcType="TIMESTAMP" />
    <result column="del_user" property="delUser" jdbcType="VARCHAR" />
    <result column="del" property="del" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_num, name, brand, img_url, market_price, shop_price, warn_stock, goods_stock, 
    goods_unit, sale_status, category_ids, sale_num, sale_time, status, create_time, 
    create_user, update_time, update_user, del_time, del_user, del
  </sql>

  <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from cc_goods
    <where>
      <if test="startCreateTime != null and startCreateTime != ''">
        and create_time&gt;= concat(#{startCreateTime,jdbcType=VARCHAR}, '00:00:00')
      </if>
      <if test="endCreateTime != null and endCreateTime != ''">
        and create_time&lt;= concat(#{endCreateTime,jdbcType=VARCHAR}, '23:59:59')
      </if>
      <if test="name != null and name != ''">
        and name like concat('%', #{name,jdbcType=VARCHAR}, '%')
      </if>
      <if test="status != null">
        and status = #{status, jdbcType=TINYINT}
      </if>
    </where>
    ORDER BY create_time DESC
  </select>

  <select id="query" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from cc_goods
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from cc_goods
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.snolf.manager.cc.model.CcGoods" >
    insert into cc_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsNum != null" >
        goods_num,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="marketPrice != null" >
        market_price,
      </if>
      <if test="shopPrice != null" >
        shop_price,
      </if>
      <if test="warnStock != null" >
        warn_stock,
      </if>
      <if test="goodsStock != null" >
        goods_stock,
      </if>
      <if test="goodsUnit != null" >
        goods_unit,
      </if>
      <if test="saleStatus != null" >
        sale_status,
      </if>
      <if test="categoryIds != null" >
        category_ids,
      </if>
      <if test="saleNum != null" >
        sale_num,
      </if>
      <if test="saleTime != null" >
        sale_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="delTime != null" >
        del_time,
      </if>
      <if test="delUser != null" >
        del_user,
      </if>
      <if test="del != null" >
        del,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsNum != null" >
        #{goodsNum,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="shopPrice != null" >
        #{shopPrice,jdbcType=DECIMAL},
      </if>
      <if test="warnStock != null" >
        #{warnStock,jdbcType=INTEGER},
      </if>
      <if test="goodsStock != null" >
        #{goodsStock,jdbcType=INTEGER},
      </if>
      <if test="goodsUnit != null" >
        #{goodsUnit,jdbcType=CHAR},
      </if>
      <if test="saleStatus != null" >
        #{saleStatus,jdbcType=TINYINT},
      </if>
      <if test="categoryIds != null" >
        #{categoryIds,jdbcType=VARCHAR},
      </if>
      <if test="saleNum != null" >
        #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="saleTime != null" >
        #{saleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="delTime != null" >
        #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delUser != null" >
        #{delUser,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        #{del,jdbcType=TINYINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.snolf.manager.cc.model.CcGoods" >
    update cc_goods
    <set >
      <if test="goodsNum != null" >
        goods_num = #{goodsNum,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null" >
        market_price = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="shopPrice != null" >
        shop_price = #{shopPrice,jdbcType=DECIMAL},
      </if>
      <if test="warnStock != null" >
        warn_stock = #{warnStock,jdbcType=INTEGER},
      </if>
      <if test="goodsStock != null" >
        goods_stock = #{goodsStock,jdbcType=INTEGER},
      </if>
      <if test="goodsUnit != null" >
        goods_unit = #{goodsUnit,jdbcType=CHAR},
      </if>
      <if test="saleStatus != null" >
        sale_status = #{saleStatus,jdbcType=TINYINT},
      </if>
      <if test="categoryIds != null" >
        category_ids = #{categoryIds,jdbcType=VARCHAR},
      </if>
      <if test="saleNum != null" >
        sale_num = #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="saleTime != null" >
        sale_time = #{saleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="delTime != null" >
        del_time = #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delUser != null" >
        del_user = #{delUser,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        del = #{del,jdbcType=TINYINT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>