<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snolf.manager.cc.mapper.CcMemberMapper" >
  <resultMap id="BaseResultMap" type="com.snolf.manager.cc.model.CcMember" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="member_level" property="memberLevel" jdbcType="INTEGER" />
    <result column="star_level" property="starLevel" jdbcType="INTEGER" />
    <result column="invite_code" property="inviteCode" jdbcType="VARCHAR" />
    <result column="recommend_code" property="recommendCode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="del_time" property="delTime" jdbcType="TIMESTAMP" />
    <result column="del_user" property="delUser" jdbcType="VARCHAR" />
    <result column="del" property="del" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, phone, name, sex, age, member_level, star_level, invite_code, recommend_code, 
    status, create_time, create_user, update_time, update_user, del_time, del_user, del
  </sql>

  <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from cc_member
    <where>
      <if test="startCreateTime != null and startCreateTime != ''">
        and create_time&gt;= concat(#{startCreateTime,jdbcType=VARCHAR}, '00:00:00')
      </if>
      <if test="endCreateTime != null and endCreateTime != ''">
        and create_time&lt;= concat(#{endCreateTime,jdbcType=VARCHAR}, '23:59:59')
      </if>
      <if test="name != null and name != ''">
        and name like concat('%', #{name,jdbcType=VARCHAR}, '%')
      </if>
      <if test="status != null">
        and status = #{status, jdbcType=TINYINT}
      </if>
    </where>
    ORDER BY create_time DESC
  </select>

  <select id="query" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cc_member
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from cc_member
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.snolf.manager.cc.model.CcMember" >
    insert into cc_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="memberLevel != null" >
        member_level,
      </if>
      <if test="starLevel != null" >
        star_level,
      </if>
      <if test="inviteCode != null" >
        invite_code,
      </if>
      <if test="recommendCode != null" >
        recommend_code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="delTime != null" >
        del_time,
      </if>
      <if test="delUser != null" >
        del_user,
      </if>
      <if test="del != null" >
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="memberLevel != null" >
        #{memberLevel,jdbcType=INTEGER},
      </if>
      <if test="starLevel != null" >
        #{starLevel,jdbcType=INTEGER},
      </if>
      <if test="inviteCode != null" >
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="recommendCode != null" >
        #{recommendCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="delTime != null" >
        #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delUser != null" >
        #{delUser,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        #{del,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.snolf.manager.cc.model.CcMember" >
    update cc_member
    <set >
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="memberLevel != null" >
        member_level = #{memberLevel,jdbcType=INTEGER},
      </if>
      <if test="starLevel != null" >
        star_level = #{starLevel,jdbcType=INTEGER},
      </if>
      <if test="inviteCode != null" >
        invite_code = #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="recommendCode != null" >
        recommend_code = #{recommendCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="delTime != null" >
        del_time = #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delUser != null" >
        del_user = #{delUser,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        del = #{del,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>